<div class="welcome">
  <h1>Welcome to the PRS application, {{user.firstName}}!!</h1>
  <span>&nbsp;<a routerLink="/user/login">Back to Login</a></span>
</div>
<div class="user-info">
  <h2>Here's your info:</h2>
  <table class="table table-sm table-striped" *ngIf='user'>
      <tr>
          <td>Id</td>
          <td>{{ user.id}}</td>
      </tr>
      <tr>
          <td>User Name</td>
          <td>{{ user.userName }}</td>
      </tr>
      <tr>
          <td>FirstName</td>
          <td>{{ user.firstName }}</td>
      </tr>
      <tr>
          <td>Last Name</td>
          <td>{{ user.lastName }}</td>
      </tr>
      <tr>
          <td>Phone</td>
          <td>{{ user.phoneNumber }}</td>
      </tr>
      <tr>
          <td>Admin</td>
          <td>{{ user.admin ? "Yes" : "No" }}</td>
      </tr>
      <tr>
        <td>From Syssvs.isAdmin()</td>
        <td>{{ sysSvc.isAdmin() }}</td>
    </tr>
  </table>
</div>
